@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300&family=Merriweather+Sans:ital@1&family=Poppins:wght@400;500&family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}

.image{
filter: brightness(40%);
object-fit: cover;
}
.carousel-item{
position: relative;}
.carousel-caption{
position: absolute;
top: 40%;
left: 20%;}
.course-clr{
color: #289BDE;}
.btn-clr{
background-color: #289BDE;
color: white;
}
.btn-clr:hover{
background-color: white;
color:black ;}
.bg-clr{
background-color: #289BDE}
.text-button{
color: #289BDE;}
.text-button:hover{

font-size: medium;
}
.tech{
color:#289BDE;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.hub{
color: black;}
.image{height:100vh;
    width: 100%;
}
.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}
@media only screen and (max-width: 688px){
.image{width: 450px;}
}
    
