.slider-img{
filter: brightness(40%);

}
.course-clr{
color: #289BDE;}
.btn-clr{
background-color: #289BDE;
color: white;
}
.btn-clr:hover{
background-color: white;
color:black ;}
.bg-clr{
background-color: #289BDE}
.text-button{
color: #289BDE;}
.text-button:hover{

font-size: medium;
font-weight: 100;}