.slider-img{
filter: brightness(40%);

}
.course-clr{
color: #289BDE;}
.btn-clr{
background-color: #289BDE;
color: white;
}
.btn-clr:hover{
background-color: white;
color:black ;}
.
/* .carousel-inner::before{
content: '';
position:absolute;
width:100%;
height: 100%;
top:0;
left: 0;
z-index: 1;
background: rgba(0,0,0,0.7);
;} */